.header {
  width: 96%;
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.header button,
.submit {
  background-color: #1abc9c;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.header button:hover,
.submit:hover {
  background-color: #5299d3;
}

.header form input {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
}
